/*reset css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif ;
}

.main {

}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block; /*nut khong de len chu o tren*/
    margin-top: 15px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    text-transform: uppercase ;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

#header {
    position: fixed; /*thanh scorll bar luôn cố định*/
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1; /*thanh header được nổi lên trên cùng*/
}

#nav {
    display: inline-block; /*cho thẻ nav và thẻ seaech btn nằm cạnh nhau*/
}

#nav, .subnav {
    list-style-type: none; /*xóa các chấm ở đầu ul li*/
}

#nav > li {
    display: inline-block; /*thẻ nav các phần tử lên cùng 1 hàng*/
}

#nav li {
    position: relative; /*làm cho thẻ subnav được hiện lên đúng vị trí */
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase ; /*kiểu chữ viết hoa hết*/
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;/*căn giữa cácchữ cái thẻ a*/
    padding: 0 24px;
    display: block; /*căn chỉnh cái backgoroud của hover cho chiếm hết*/
}

#nav li:hover .subnav {
    display: block; /*làm cho thẻ subnav được hiện lên */
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #fff;
    background-color: rgb(187, 25, 25);
}

#nav .subnav {
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
    line-height: 46px;
}

#header .search-btn:hover {
    cursor: pointer; /*di chuột vào sẽ có dạng bàn tay*/
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;  
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;    
}

.img-tokyo-ghoul {
    position: relative; /*chữ hiện trên ảnh*/
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/tokyo-ghoul-wallpaper-11.jpg') top center / cover no-repeat;
}

.img-tokyo-ghoul .text-content {
    position: absolute;
    bottom: 47px;
    color: red;
    width: 100%; /*căn giữa cho chữ cách 1 cách 2 ngay dưới*/
    /* left: 50%; 
    transform: translateX(-50%); */
    text-align: center;
}

.img-tokyo-ghoul .text-heading {
    font-weight: 500;
    font-size: 30px;
}

.img-tokyo-ghoul .text-description {
    font-size: 20px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}


.tokyo-ghoul {
    background-color: #fff;
}

.tokyo-ghoul .content-section,
.auther .content-section
 {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.tokyo-ghoul .section-heading,
.auther .section-heading,
.book-case .section-heading,
.contact .section-heading
{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px; /*khoang cach giua cac chu*/
}

.tokyo-ghoul .section-sub-heading,
.auther .section-sub-heading,
.book-case .section-sub-heading,
.contact .section-sub-heading
 {
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    font-style: italic; /*chữ nghiêng*/
    opacity: 0.6; /*chữ mờ*/
}

.tokyo-ghoul .about-text,
.auther .about-text
{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify; /*căn đều 2 bên*/
    line-height: 1.4; /*khoảng cách giữa 2 dòng chữ việt:1.6*/
}

.book-case {
    padding-top: 60px;
}

.img-book {
    text-align: center;
}

.img-book-demo {
    width: 100%;
    height: 500px;
    padding-top: 30px;
}

.auther {
    background-color: #fff;
}

.img-book-auther {
    height: 500px;
    padding-top: 30px;
}

.book-body {
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 20%);
    margin-top: 15px;
}

.place-img {
    width: 100%;
    display: block; /*xoa khoang cach tao ra boi indiline*/
    border-radius: 2px;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    padding: 16px;
    font-size: 15px;
    background-color: #ccc;
    
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.contact {
 margin-top: 60px;
}

/* Contac form */
.contact-content {
    margin-top: 48px;
    padding: 0 12px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 12px;
}

.contact-info p {
    padding: 10px 0;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #101aef;
    opacity: 0.7;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    margin: 5px;
}


.img-footer img {
    width: 100%;
    margin-top: 64px;
}

.footer {
    padding: 64px 16px;
    text-align: center;
    font-size: 15px;
}

.footer .socical-list {
    font-size: 24px;
}

.footer .socical-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.footer .copyright a:hover,
.footer .socical-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.4);
}

.footer .copyright a {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.float {
    float: right;
}
